@use '../../../styles/palette' as palette;

.slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;

  background: conic-gradient(
    from var(--start-deg),
    palette.$accent-80 0deg,
    palette.$accent-20 var(--slice-length),
    transparent var(--slice-length),
    transparent 360deg
  );
}
